aiohappyeyeballs==2.6.1
aiohttp==3.12.12
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.9.0
asgiref==3.8.1
asknews==0.11.15
attrs==25.3.0
bitarray==3.4.2
blinker==1.9.0
camel-ai==0.2.66
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
ckzg==2.1.1
click==8.2.1
colorama==0.4.6
crontab==1.0.4
cryptography==43.0.3
cytoolz==1.0.1
distro==1.9.0
dnspython==2.7.0
docstring-parser==0.15
email_validator==2.2.0
eth-account==0.13.7
eth-hash==0.7.1
eth-keyfile==0.8.1
eth-keys==0.7.0
eth-rlp==2.2.0
eth-typing==5.2.1
eth-utils==5.3.0
eth_abi==5.2.0
Flask==3.1.1
flask-cors==6.0.1
frozenlist==1.7.0
gunicorn==23.0.0
h11==0.16.0
hexbytes==1.3.1
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.10.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
MarkupSafe==3.0.2
mcp==1.9.4
multidict==6.4.4
openai==1.86.0
orjson==3.10.18
packaging==25.0
parsimonious==0.10.0
pillow==10.4.0
propcache==0.3.2
psutil==5.9.8
pycparser==2.22
pycryptodome==3.23.0
pydantic==2.11.6
pydantic-settings==2.9.1
pydantic_core==2.33.2
python-dotenv==1.1.0
python-multipart==0.0.20
pyunormalize==16.0.0
pywin32==310
referencing==0.36.2
regex==2024.11.6
requests==2.32.4
rlp==4.1.0
rpds-py==0.25.1
sniffio==1.3.1
sse-starlette==2.3.6
starlette==0.47.0
tiktoken==0.7.0
toolz==1.0.0
tqdm==4.67.1
types-requests==2.32.4.20250611
typing-inspection==0.4.1
typing_extensions==4.14.0
urllib3==2.4.0
uvicorn==0.34.3
web3==7.12.0
websockets==15.0.1
Werkzeug==3.1.3
yarl==1.20.1
